*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 14px;
}

h1{
    font-size: 40px;
    margin-top: 40%;
    font-weight: 700;
    color: #ababab;
}

ul{
    list-style: none;
    display: flex;
    width: 100%;
}